// form to add routes

.form-block
  label()='Route title'
  input(name='route-title', class='', placeholder='My new route')
.form-block
  label()='Route url'
  input(name='route-url', class='', placeholder='Info/Items/42.json')
.form-block
  label()='Route reply datatype'
  select(name="route-datatype")
    -for(var i = 1;i<10;i++){
    option(value="#{i}")  #{i}
    -}
.form-block
  label()='Reply content'
  textarea(cols=5, rows=10, name='reply-content', class='')
.form-block
  button(type='button', class='btn btn-primary')='Save route'